<div class="wrapper">
  <h1 class="task-title" mat-dialog-title>
    Создание задачи
  </h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Название задачи</mat-label>
        <input 
          [(ngModel)]="taskTitle"
          matInput 
          placeholder="Название задачи"
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Описание задачи</mat-label>
        <textarea 
          [(ngModel)]="taskDescription"
          matInput 
          placeholder="Описание задачи"
        ></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ответственный</mat-label>
        <input type="text"
               placeholder="Выберите ответственного"
               matInput
               [formControl]="responsibleControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <button 
      mat-raised-button 
      color="accent"
      (click)="createTask()"
    >
      Создать
    </button>
  </div>
</div>