<mat-card class="project-card" [title]="title">
  <a [routerLink]="['project', projectId]">
    <mat-card-header>
      <mat-card-title>{{ title | truncate:[20, '...'] }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>ID: {{ projectId }}</p>
    </mat-card-content>
  </a>
</mat-card>
