<div class="wrapper">
  <h1 class="task-title" mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content>
    {{ description }}
    <div class="comments">
      <h3 class="comments__title">Комментарии</h3>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Создать комментарий</mat-label>
          <textarea 
            [(ngModel)]="textComment"
            matInput 
            placeholder="Текст комментария"
          ></textarea>
        </mat-form-field>
        <button 
          mat-raised-button 
          color="accent"
          (click)="createComment()"
        >
          Отправить
        </button>
      </p>
      <div 
        *ngFor="let comment of comments"
        class="comment"
      >
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>{{comment.author}}</mat-card-subtitle>
            <mat-card-title>
              <p>{{ comment.message }}</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{comment.date | date}}</p>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-footer>
            <mat-progress-bar [mode]="'determinate'" [value]="100"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>