<mat-card class="example-card"  (click)="openDialog('0ms', '0ms')">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ title | truncate:[20, '...'] }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{ description | truncate:[50, '...'] }}
  </mat-card-content>
</mat-card>