.wrapper {
  padding: 20px;
}

.comments__title {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}

.task-title {
  font-size: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-top: 10px;
}