<h1 class="projects__title">
  Проекты
</h1>
<div>
  <mat-form-field class="projects__input">
    <mat-label>Название проекта</mat-label>
    <input matInput  matInput 
    [(ngModel)]="searchString"
    (ngModelChange)="updateSearch()"
    type="text">
    <button 
      *ngIf="searchString" 
      matSuffix 
      mat-icon-button 
      aria-label="Clear" 
      (click)="searchString=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="projects">
  <app-project-card
    *ngFor="let project of projects"
    [title]="project.title"
    [projectId]="project.id"
    class="project"
  ></app-project-card>
</div>
