.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 20px;
}

.projects__title {
  padding-top: 40px;
  text-align: center;
}

.projects__input {
  margin-left: 40px;
}

.project {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  top: 0;
  transition: top 0.2s;

  &:hover {
    top: -10px;
    cursor: pointer;
  }
}