<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name">
          {{ projectName }}
        </h1>
        <button 
          mat-raised-button 
          color="primary"
          (click)="openDialog('0ms', '0ms')"
        >Создать задачу</button>
      </div>
    </div>
  </div>
  <div class="board">
    
    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div 
          *ngFor="let column of board.columns"
          class="board-column"
        >
          <div class="column-title">
            {{ column.name }}
          </div>
          <div 
            class="task-container" 
            cdkDropList 
            #todoList="cdkDropList" 
            [cdkDropListData]="column.tasks" 
            [attr.data-index]="column.name"
            (cdkDropListDropped)="drop($event)">
              <app-card-task 
                *ngFor="let item of column.tasks"  
                class="task" 
                cdkDrag 
                [title]="item.title" 
                [description]="item.description"
                [task]="item"
              ></app-card-task>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>