.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FAFBFC;
}

.app-name {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 0;
  margin: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .board-bar {
    background-color: rgba(gray, 0.5);
    padding: 8px 15px;
    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;

        min-width: 300px;
        margin: 50px;
        padding: 25px;
        background-color: #ebecf0;

        border-radius: 4px;
        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          font-size: 20px;
          font-weight: 800;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }
  }
}


.task-container {
  flex-grow: 1;
}

.task {
  display: flex;
  background-color: #fff;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.task-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}